* {
  margin: 0;
  padding: 0;
}
.App {
  width: 100vw;
  height: 100vh;
  background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/50f723eb-c755-4c4a-871b-2d65da6bb0da/detrrho-cf58058b-7ff2-4e20-9173-7266c4424693.jpg/v1/fill/w_800,h_496,q_75,strp/the_witcher_vs_striga_by_drawsouls_detrrho-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NDk2IiwicGF0aCI6IlwvZlwvNTBmNzIzZWItYzc1NS00YzRhLTg3MWItMmQ2NWRhNmJiMGRhXC9kZXRycmhvLWNmNTgwNThiLTdmZjItNGUyMC05MTczLTcyNjZjNDQyNDY5My5qcGciLCJ3aWR0aCI6Ijw9ODAwIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmltYWdlLm9wZXJhdGlvbnMiXX0.o_giTHwiia9cnF0zZjBgcXwuC3zMdD4tJwWvOT6zN_Y');
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: #fff;
  text-align: center;
  padding: 8px;
  font-size: 18px;
}
main {
  margin-top: 2%;
}
.marquee {
  background-color: red;
  color: #fff;
  padding: 12px;
  text-transform: uppercase;
  margin-left: 0;
}
.red {color: yellow;}
.typed {
  text-transform: uppercase;
  font-size: 36px;
  font-weight: bolder;
  margin-left: 36px;
  color: #fff;
}

.table {
  margin: 0 auto;
  font-size: 36px;
  background-color: gray;
  border-radius: 24px;
  padding: 3%;
}

/* animasi loading */
.progress{
  position:relative;
  height:4px;
  display:block;
  width:100%;
  background-color:#acece6;
  border-radius:2px;
  margin:.5rem 0 1rem 0;
  overflow:hidden
}
.progress .determinate{
  position:absolute;
  top:0;
  left:0;
  bottom:0;
  background-color:#26a69a;
  -webkit-transition:width .3s linear;
  transition:width .3s linear
}
.progress .indeterminate{
  background-color:#26a69a
}
.progress .indeterminate:before{
  content:'';
  position:absolute;
  background-color:inherit;
  top:0;
  left:0;
  bottom:0;
  will-change:left, right;
  -webkit-animation:indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
  animation:indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite
}
.progress .indeterminate:after{
  content:'';
  position:absolute;
  background-color:inherit;
  top:0;
  left:0;
  bottom:0;
  will-change:left, right;-webkit-animation:indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
  animation:indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
  -webkit-animation-delay:1.15s;
  animation-delay:1.15s
}
@-webkit-keyframes indeterminate{
  0%{
      left:-35%;
      right:100%
  }
  60%{
      left:100%;
      right:-90%
  }
  100%{
      left:100%;
      right:-90%
  }
}
@keyframes indeterminate{
  0%{
      left:-35%;
      right:100%
  }
  60%{
      left:100%;
      right:-90%
  }
  100%{
      left:100%;
      right:-90%
  }
}
@-webkit-keyframes indeterminate-short{
  0%{
      left:-200%;
      right:100%
  }
  60%{
      left:107%;
      right:-8%
  }
  100%{
      left:107%;
      right:-8%
  }
}
@keyframes indeterminate-short{
  0%{
      left:-200%;
      right:100%
  }
  60%{
      left:107%;
      right:-8%
  }
  100%{
      left:107%;
      right:-8%
  }
}